@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: linear-gradient(to right, #F2D0FA, #CCE6FE);
}




